body {
  background-color: orange;
}

.title {
    color: white; text-align: center; font-size: 4em;
}

.subtitle { 
    color:black; text-align: right; font-weight: 700;
}

.estilo1 { 
     border: dotted 4px black; border-color: black; background-color: grey;
}
.estilo2 { 
    border: dotted 4px black; border-color: yellow; background-color: #F2F5A9;
}

.estilo3 { 
    border: groove 4px black; border-color: #04B486; background-color: #58FAAC;
}

.estilo4 { 
    border: double 4px black; border-color: black; background-color: grey;
}
