li{
    margin: 0; 
    float: left; 
    width: 50%;
    list-style: none;
}

.requerido {color: red}
label {
    display: block; 
    color:grey; 
    font-size: 0,75em
}
li > label {color: black; font-size: 1em;}

#contenedor > form > ul > li:nth-child > label

ul> li:last-child {
    width: 100%; 
    border-top: 1px solid black;
    padding-top: 5px;
}